body {
    font-family: "Hubballi", sans-serif;
    font-size: 22px;
    padding: 0;
    line-height: 1.6;
    color: #563C27;
    background-color: #e9dfcf;
}

.hubballi-regular {
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }

.header {
    display: flex;
    padding: 3px 0;
    border-bottom: 1px solid #023021;
}

.header h1{
    text-align: flex;
    padding: 3px 0;

}

.header img{
    text-align: flex;
    width: 100%;
    width: 150px;
    height: 100px;
    object-fit: fill;
}

.logo{
    font-family: "Homemade Apple", cursive;
    font-style: normal;
    color: #023021;
    font-size: 24px;
    font-weight: 700;
    text-align: flex;
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 30px;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 400;
    color: #023021;
    transition: color 0.3s;
    font-size: 28px;
}

nav {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }


  .search-bar input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .search-bar input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .search-bar .icon {
    font-size: 20px;
    color: #ff5722;
  }