/* Global Styles */
body {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #fefae0;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: #a9784a;
}

/* Header */
.header {
    display: flex;
    padding: 3px 0;
    border-bottom: 1px solid #36492e;

}

header h1 {
    font-size: 5px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o título em negrito */
    color: #a9784a; /* Cor do título (você pode escolher outra cor) */
    
  }

.header .logo {
    
    color: #36492e;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 400;
    color: #333;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #d8de98;
}

nav {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    width: 100%;
  }
  
  /* Estilizando os links do menu */
  nav ul {
    display: flex;
    list-style-type: none; /* Remove os marcadores dos itens da lista */
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 20px; /* Dá espaçamento entre os itens */
  }
  
  nav ul li a {
    font-size: 18px; /* Aumenta o tamanho da fonte */
    font-weight: bold;
    color: #333; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.3s; /* Transição suave para a cor */
  }
  
  nav ul li a:hover {
    color: #d8de98; /* Altere a cor para o hover */
  }
  
/* Receitas Section */
.qm_somos {
    padding: 5px ;
}

.qm_somos h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #a9784a;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 20px;
    margin: 15px 0 10px;
    color: #d8de98;
}

.card p {
    font-size: 14px;
    padding: 0 10px 15px;
    color: #666;
}

.card:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}